- var pageNo = parseInt(page)
- var prevPage = pageNo > 1 ? pageNo - 1 : 1
- var nextPage = pageNo + 1

html
  head
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Jura')
    link(rel='stylesheet', href='/stylesheets/font-awesome/css/font-awesome.min.css')

  script.
    document.onkeydown = function(evt) {
      evt = evt || window.event
      if (evt.keycode == 37)
        window.location.href = '/feed?page=#{prevPage}&perpage=#{perPage}';
      else if (evt.keyCode == 39)
        window.location.href = '/feed?page=#{nextPage}&perpage=#{perPage}';
    }

  body
    div(class='navigationLeft')
      a(href='/feed?page=#{prevPage}&perpage=#{perPage}', class='fa fa-caret-left')
    div(class='feedWrapper')
      each line in data
        div(class='feedLine')
          each img in line
            div(class='imgWrapper')
              img(src=img.url, class='feedImg')
              div(title=img.caption) #{img.caption}
              div(class='feedImgOverlay')
                table
                  tr
                    a(class='fa fa-caret-up')
                  tr
                    #{img.votes}
                  tr
                    a(class='fa fa-caret-down')

    div(class='navigationRight')
      a(href='/feed?page=#{nextPage}&perpage=#{perPage}', class='fa fa-caret-right')
 
    div(class='footerWrapper')
      a(href='/capture', class='captureButton')
        span(class='fa fa-camera')
      form(ref='uploadForm', action='/upload', method='post', encType='multipart/form-data')
        div(class='fileInputBox') +
          input(type='file', class='fileInput', name='sampleFile')
        div(class='fileSubmitBox') =
          input(type='submit', class='fileSubmit')
